@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');

.header {
    box-sizing: border-box;
    background-color: rgb(250, 230, 99);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}